<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDghiQooc5iz1jcblxuRJJcI-QRhCCYNfc</string>
	<key>GCM_SENDER_ID</key>
	<string>311764272115</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.andy.Neighborhood-Connect</string>
	<key>PROJECT_ID</key>
	<string>neighborhood-watch-2d1b3</string>
	<key>STORAGE_BUCKET</key>
	<string>neighborhood-watch-2d1b3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:311764272115:ios:fc231c2c07806dd4f50886</string>
    <key>DATABASE_URL</key>
    <string>https://neighborhood-watch-2d1b3-default-rtdb.firebaseio.com/</string>
</dict>
</plist>
